<%- include('../partials/header') %>

<h1>Mongoose Flights</h1>
<nav>
    <a href="/flights/new">ADD FLIGHT</a>
</nav>
<main>
    <table id="list">
        <thead>
            <tr>
                <th>Airline</th>
                <th>AirPort</th>
                <th>Flight Number</th>
                <th>Departs</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="depart">
            <% flights.forEach(function(f) { %>
                    <tr style="color: <%= (f.departs.getTime() < Date.now()) ? '#AFB3F7' : '' %>">
                        <td><%= f.airline %></td>
                        <td><%= f.airport %></td>
                        <td><%= f.flightNo %></td>
                        <td><%= f.departs %></td>
                        <td><a id="details" href="/flights/<%= f._id%>">DETAILS</a></td>
                    </tr>
            <% }); %>
        </tbody>
    </table>
</main>
<%- include('../partials/footer') %>